<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Earnings</title>
  <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- adding google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
 
</head>
<body>
  <div class="whole-webpage">
    <div class="navigation-bar" id="navbar">
      <h1 class="logo-tag">
        <a>SMART EARNINGS</a>
      </h1>
      <div class="navbar" id="mynavbar">
        <ul class="navbar-ul">
          <li id="smart_earnings_name_responsive"class="smart_earnings_name_responsive" style="display:none;">SMART EARNINGS</li>
          <li id="avatar_image"style="display:none;"> <img  class="avatar_image" id="avatar_image" src="..\static\Images\avatar.jpg"></li>
          <li id="username_mobile_view"class="username_mobile_view"style="display:none;"> Username </li>
          <li id="useremail_mobile_view"class="useremail_mobile_view"style="display:none;"> abc@gmail.com </li>
          <hr>
          
          <li><a class="nav-li current" id="current" href="">Home</a></li>
          <li><a class="nav-li" href="/printout/">Services</a></li>
          <li><a class="nav-li" href="/order/">Your Orders</a></li>
          <li><a class="nav-li" href="">FAQ's</a></li>
          <li><a class="nav-li" href="#">Contact</a></li>
        </ul>
       
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <a href="javascript:void(0);" class="icon-exit-icon" onclick="toggleNavbar()">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>

  <div class="main-content" id="main-content">
   
    <h1 class="main-content-headlines"> One platform for your all printings </h1>
    <button class="get-started-button">Get started</button>
    <div class="four-cards-homepage">
      <div class="icon-box">
        <div class="icon"><i class="fa fa-solid fa-print"></i></i></div>
        <h4 class="icon-box-title">Page printing</h4>
        <p class="icon-box-description">Get your Loose paper printed at Rs 1.5 per page </p>
      </div>
      <div class="icon-box">
        <div class="icon"><i class="fa fa-book"></i></div>
        <h4 class="icon-box-title">Hard Binding</h4>
        <p class="icon-box-description">Get your Loose paper printed at Rs 5 per page and Rs 100 for Binding </p>
      </div>
      <div class="icon-box">
        <div class="icon"><i class="fa fa-paperclip"></i></div>
        <h4 class="icon-box-title">Spiral Binding</h4>
        <p class="icon-box-description">Get your Loose paper printed at Rs 1.5 per page and Rs  20 for spiral </p>
      </div>
      <div class="icon-box">
        <div class="icon"><i class="fa fa-file-photo-o"></i></div>
        <h4 class="icon-box-title">Color printing </h4>
        <p class="icon-box-description">Get your Loose paper printed at Rs 10 per page </p>
      </div>
    </div>
    </div>
  </div>
  <!-- Your HTML code with the navbar -->
<!-- ... -->

<script>
  function myFunction() {
    var x = document.getElementById("mynavbar");
    if (x.className === "navbar") {
      x.className += " responsive";
      document.getElementById("main-content").style.opacity = 0;
      document.getElementById("smart_earnings_name_responsive").style.display="block";
      document.getElementById("avatar_image").style.display="block";
      document.getElementById("useremail_mobile_view").style.display="block";
      document.getElementById("username_mobile_view").style.display="block";

      // Add an event listener to the document to close the navbar when clicking outside
      document.addEventListener("click", closeNavbarOutsideClick);
    } else {
      x.className = "navbar";
    }
  }

  function toggleNavbar() {
    document.getElementById("main-content").style.opacity = 1;
    var x = document.getElementById("mynavbar");
    if (x.className === "navbar") {
      x.className += " close";
   
      // Add an event listener to the document to close the navbar when clicking outside
      document.addEventListener("click", closeNavbarOutsideClick);
    } else {
      document.getElementById("smart_earnings_name_responsive").style.display="none";
      document.getElementById("avatar_image").style.display="none";
      document.getElementById("useremail_mobile_view").style.display="none";
      document.getElementById("username_mobile_view").style.display="none";
      
      x.className = "navbar";
    }
  }

  // Function to close the navbar when clicking outside
  function closeNavbarOutsideClick(event) {
    var navbar = document.getElementById("mynavbar");
    var icon = document.querySelector(".icon");
    var target = event.target;

    // Check if the clicked element is not part of the navbar and not the icon
    if (!navbar.contains(target) && !icon.contains(target)) {
      navbar.className = "navbar";
      document.getElementById("smart_earnings_name_responsive").style.display="none";
      document.getElementById("avatar_image").style.display="none";
      document.getElementById("useremail_mobile_view").style.display="none";
      document.getElementById("username_mobile_view").style.display="none";
      document.getElementById("main-content").style.opacity = 1;
      // Remove the event listener since the navbar is closed
      document.removeEventListener("click", closeNavbarOutsideClick);
    }
  }
</script>

 
  {% comment %} <script>
    function myFunction() {
      var x = document.getElementById("mynavbar");
      if (x.className === "navbar") {
        x.className += " responsive";
        document.getElementById("main-content").style.opacity=0;
      } else {
        x.className = "navbar";
      }

    }
    function toggleNavbar()
    {
      document.getElementById("main-content").style.opacity=1;
      var x = document.getElementById("mynavbar");
      if (x.className === "navbar") {
        x.className += " close";

      } else {
        x.className = "navbar";
      }
     

    }
    </script> {% endcomment %}
 
  
</body>
</html>