<!DOCTYPE html>
{% load static  %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Earnings</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style_orders.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- adding google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
  
       
    
</head>
<body>
    <div class="whole_webpage">
        <div class="navigation-bar" id="navbar"> 
            <h1 class="logo-tag">
              <a>SMART EARNINGS</a></h1>
          <div class="navbar" id="mynavbar">
            <ul class="navbar-ul">
                <li id="smart_earnings_name_responsive"class="smart_earnings_name_responsive" style="display:none;">SMART EARNINGS</li>
                <li id="avatar_image"style="display:none;"> <img  class="avatar_image" id="avatar_image" src="..\static\Images\avatar.jpg"></li>
                <li id="username_mobile_view"class="username_mobile_view"style="display:none;"> Username </li>
                <li id="useremail_mobile_view"class="useremail_mobile_view"style="display:none;"> abc@gmail.com </li>
                <hr>
                
              <li><a class="nav-li"href="/index/">Home</a></li>
              <li><a class="nav-li" href="/printout/">Services</a></li>
              <li><a class="nav-li"  href="/order/" id="current">Your Orders</a></li>
              <li><a class="nav-li"  href="/faqs/">FAQ's</a></li>
              <li><a class="nav-li"  href="/contact/">Contact</a></li>
            </ul>
            <div class="dropdown" id="dropdown">
                <button class="dropbtn" id="dropbtn"><img  class="avatar_image" id="avatar_image" src="..\static\Images\avatar.jpg">
                </button>
                
                <div class="dropdown-content">
                  <a href="#">Username</a>
                  <a href="#"> username_username@gmail.com</a>
                  <a href="/logout/" class="logout_button">Logout</a>
                </div>
              </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
            <a href="javascript:void(0);" class="icon_filter" id="icon_filter" onclick="open_responsive_filter()">
                <i class="fa fa-filter"></i>
              </a>
            <a href="javascript:void(0);" class="icon-exit-icon" onclick="toggleNavbar()">
              <i class="fa fa-times"></i>
              <a href="javascript:void(0);" id ="icon_exit_filter" class="icon_exit_filter" onclick="Close_responsive_filter()" style="left: 85%;
              position: absolute;
              margin-top:90px;
              font-size: 20px;
              color:white;
              ">
                <i class="fa fa-times"></i>
              </a>
            </a>
          </div>
          
        </div>
        <div class="main_content_orders_page" id="main_content_orders_page">
           <div class="order_page_content" id="order_page_content">
            <div class="filter_sidebar" id="filter_sidebar">
                
                <form class="filter_form" id="filter_form">
                    <p class="order_status_p_tag">ORDER STATUS</p>
                    <input type="radio" id="delivered" name="status" value="delivered">
                    <label for="delivered">Delivered</label><br>
                    <input type="radio" id="Accepted" name="status" value="Accepted">
                    <label for="Accepted">Accepted</label><br>
                    <input type="radio" id="placed" name="status" value="placed">
                    <label for="placed">Placed</label><br>
                    <br>  
                    <p>SORT BY </p>
                    <input type="radio" id="date" name="status" value="date">
                    <label for="date">Date</label><br>
                    <input type="radio" id="price" name="status" value="price">
                    <label for="price">Price</label>
                    
                    <br>
                    <br>
                      </form>

                </div>
                
            
             
            <div class="cards_order_page" id="cards_order_page">
                {% if orders%}
                {% for order_id, order_data in orders.items %}
                {% if order_data.order_placed%}
                <div class="column" id="order_{{ order_id }}">
                    <div class="card">
                        <div class="image_and_order_type">
                            <button class="status_display_button">
                                {% if order_data.delivered %}
                                    <span>Delivered</span>
                                {% elif order_data.order_accepted%}
                                    <span>Accepted</span>
                                {% elif order_data.order_placed%}
                                    <span>Order Placed</span>


                                {% endif %}
                            </button>
                            
                            <img class="card_image"id="card_image_{{ order_id }}" src="..\static\Images\loose_paper.png">
                            <p class="order_type_display" id="order_type_display">Order type:<span> {{ order_data.order_type|title }}</span></p>
                        </div>
                        <div class="price_in_card">
                            <p> {{ order_data.cost|title }}</p>
                        </div>
                        <div class="order_file_and_id">
                            <p class="p_order_file_and_id"><span class="span_in_p">Delivery Date:</span> {{ order_data.delivery_date }} </p>
                            <p class="p_order_file_and_id"><span class="span_in_p">Selected File:</span>
                                {% if order_data.pdf_files %}
                                    {% for file in order_data.pdf_files %}
                                        {% with file_name=file.name|slice:":18" %}
                                            <span>{{ file_name }}{% if file.name|length > 18 %}...{% endif %} - <a href="{{ file.url }}">Download</a></span>
                                        {% endwith %}
                                    {% endfor %}
                                {% else %}
                                    <p>No PDF files found for this order.</p>
                                {% endif %}
                            </p>
                            <p class="p_order_file_and_id"><span class="span_in_p">Order id:</span> {{ order_id }}</p>
                        </div>
                        

                       
                      
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
              
            </div>
             
        </div>

    </div>

    {% if orders %}
    {% for order_id, order_data in orders.items %}
    <script>
        
    
        // Get the card image element by ID
        var cardImage = document.getElementById("card_image_{{ order_id }}");
        
        // Update the image source based on the order_type
        if ("{{ order_data.order_type }}" === "loose") {
            cardImage.src = "../static/Images/loose.png";
            document.getElementById(order_type_display).innerHtml += "printing";
        } else if ("{{ order_data.order_type }}" === "color") {
            cardImage.src = "../static/Images/color.jpg";
        } 
        else if ("{{ order_data.order_type }}" === "scrap_book") {
            cardImage.src = "../static/Images/scrap_book.png";
        } 
        else if ("{{ order_data.order_type }}" === "photo") {
            cardImage.src = "../static/Images/photo.png";
        } 
        else if ("{{ order_data.order_type }}" === "hard_binding") {
            cardImage.src = "../static/Images/hard_binding.png";
        } 
        else if ("{{ order_data.order_type }}" === "spiral") {
            cardImage.src = "../static/Images/spiral.png";
        } 
        else {
            cardImage.src = "../static/Images/loose_paper.png";
        }


        
    </script>
    {% endfor %}
    {% endif %}
    <script>
        const form = document.getElementById('filter_form');
    
        form.addEventListener('change', () => {
            const selectedValue = form.querySelector('input[name="status"]:checked').value;
            console.log('Selected Status:', selectedValue);
            filterfunctionality(selectedValue);
            
            
        });
    </script>
    <script>
        function filterfunctionality(selectedValue)
        {
             if(selectedValue==='Accepted')
             {
                {% for order_id, order_data in orders.items %}
                var order = document.getElementById("order_{{ order_id }}");
                var statusButton = order.querySelector('.status_display_button span');
                var isVisible = statusButton.textContent == "Accepted";
                order.style.display = isVisible ? 'block' : 'none';
                {% endfor %}
             }
             else
             if(selectedValue==='placed')
             {
                console.log('selectedValue is ',selectedValue);
                {% for order_id, order_data in orders.items %}
                var order = document.getElementById("order_{{ order_id }}");
                var statusButton = order.querySelector('.status_display_button span');
                var isVisible = statusButton.textContent == "Order Placed";
                order.style.display = isVisible ? 'block' : 'none';
                {% endfor %}
             }
             else
             if(selectedValue==="delivered")
             {
                {% for order_id, order_data in orders.items %}
                var order = document.getElementById("order_{{ order_id }}");
                var statusButton = order.querySelector('.status_display_button span');
                var isVisible = statusButton.textContent == "Delivered";
                order.style.display = isVisible ? 'block' : 'none';
                {% endfor %}
             }
        }
        function myFunction() {
          var x = document.getElementById("mynavbar");
          if (x.className === "navbar") {
            x.className += " responsive";
            document.getElementById("main_content_orders_page").style.opacity=0;
            document.getElementById('icon_filter').style.display="none";
            document.getElementById("smart_earnings_name_responsive").style.display="block";
            document.getElementById("avatar_image").style.display="block";
            document.getElementById("useremail_mobile_view").style.display="block";
            document.getElementById("username_mobile_view").style.display="block";
               // Add an event listener to the document to close the navbar when clicking outside
               document.addEventListener("click", closeNavbarOutsideClick);
          } else {
     
            x.className = "navbar";
          }
    
        }
        function open_responsive_filter()
        {
            var x=document.getElementById('filter_sidebar');
            if(x.className== "filter_sidebar")
            {
                x.className += " responsive";
                document.getElementById('icon_exit_filter').style.display='block';
               
                document.getElementById("cards_order_page").style.opacity=0;
                document.getElementById('order_page_content').style.display="block";
                document.getElementById("icon_filter").style.display="none";
                document.getElementById("order_page_content").style.height="900px";
               document.getElementById("order_page_content").style.overflowX ="clip";
               document.getElementById("order_page_content").style.overflowY ="clip";
               document.getElementById("order_page_content").style.marginRight ="-20px";
             
         
            

               var y=document.getElementById("cards_order_page");
               y.className += "responsive";
                
            }
            else
            x.className="filter_sidebar";
        }
        function toggleNavbar()
        {
          document.getElementById("main_content_orders_page").style.opacity=1;
          var x = document.getElementById("mynavbar");
         
          if (x.className === "navbar") {
            x.className += " close";
            document.getElementById('icon_filter').style.display="block";
               // Add an event listener to the document to close the navbar when clicking outside
      document.addEventListener("click", closeNavbarOutsideClick);
            
          } else {
            document.getElementById("smart_earnings_name_responsive").style.display="none";
      document.getElementById("avatar_image").style.display="none";
      document.getElementById("useremail_mobile_view").style.display="none";
      document.getElementById("username_mobile_view").style.display="none";
            document.getElementById('icon_filter').style.display="block";
            x.className = "navbar";
          }
         
    
        }
        function closeNavbarOutsideClick(event) {
            var navbar = document.getElementById("mynavbar");
            var icon = document.querySelector(".icon");
            var target = event.target;
        
            // Check if the clicked element is not part of the navbar and not the icon
            if (!navbar.contains(target) && !icon.contains(target)) {
              navbar.className = "navbar";
              document.getElementById("main_content_orders_page").style.opacity=1;
              document.getElementById("icon_filter").style.display="block";
              document.getElementById("smart_earnings_name_responsive").style.display="none";
              document.getElementById("avatar_image").style.display="none";
              document.getElementById("useremail_mobile_view").style.display="none";
              document.getElementById("username_mobile_view").style.display="none";
              document.getElementById("main-content").style.opacity = 1;
              // Remove the event listener since the navbar is closed
              document.removeEventListener("click", closeNavbarOutsideClick);
            }
          }
        function Close_responsive_filter()
        {
            document.getElementById("cards_order_page").style.opacity=1;
            document.getElementById('icon_exit_filter').style.display="none"; 
            var x = document.getElementById("filter_sidebar");
            var y=document.getElementById('cards_order_page');
            document.getElementById('order_page_content').style.display="flex";
                document.getElementById("icon_filter").style.display="block";
                document.getElementById("order_page_content").style.height="auto";
               document.getElementById("order_page_content").style.overflowX ="auto";
               document.getElementById("order_page_content").style.overflowY ="auto";
            if (y.className.startsWith("cards_order_pageresponsive")) 
            y.className="cards_order_page";
    
            if (x.className === "filter_sidebar") {
              x.className += " close";
      
            } else {
              x.className = "filter_sidebar";
            }
           
      
          }
        
        </script>
        <script>
            // Get a reference to the dropdown content element
            var dropdownContent = document.querySelector('.dropdown-content');
          
            // Get a reference to the dropdown button (the image)
            var dropdownButton = document.getElementById('dropbtn');
          
            // Add a click event listener to the dropdown button
            dropdownButton.addEventListener('click', function (event) {
              // Prevent the default behavior of the click event
              event.preventDefault();
              document.getElementById("main_content_orders_page").style.opacity ="0.1";
          
              // Toggle the display of the dropdown content
              if (dropdownContent.style.display === 'block') {
                dropdownContent.style.display = 'none';
              } else {
                dropdownContent.style.display = 'block';
              }
            });
          
            // Add a click event listener to the document to close the dropdown when clicking outside
            document.addEventListener('click', function (event) {
              var target = event.target;
          
              // Check if the clicked element is not part of the dropdown button or the dropdown content
              if (!dropdownButton.contains(target) && !dropdownContent.contains(target)) {
                document.getElementById("main_content_orders_page").style.opacity ="1";
                dropdownContent.style.display = 'none';
              }
            });
          </script>
    
    </body>
    </html>   
    
    
    
    
    

















































    {% comment %} <h1>My Orders</h1>
    <div class="orders-container">
        {% if orders%}
        {% for order_id, order_data in orders.items %}
        {% if order_data.order_placed%}
            <div class="section">
                <div class="section-header">Placed Orders</div>
                    <div class="order">
                        <h2>Order ID: {{ order_id }}</h2>
                        <p>Order Type: {{ order_data.order_type|title }}</p>
                        <p>Order Cost: {{ order_data.cost|title }}</p>
                        <p>Delivery Date: {{ order_data.delivery_date }}</p>
                        <p>Delivered: {{ order_data.delivered }}</p>
                        <h3>PDF Files</h3>
                        {% if order_data.pdf_files %}
                            <ul>
                                {% for file in order_data.pdf_files %}
                                    <li>{{ file.name }} - <a href="{{ file.url }}">Download</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No PDF files found for this order.</p>
                        {% endif %}
                    </div>
            </div>
        {% endif %}
        {% if order_data.order_accepted %}
        <div class="section">
            <div class="section-header">Accepted Orders</div>
                <div class="order">
                    <h2>Order ID: {{ order_id }}</h2>
                    <p>Order Type: {{ order_data.order_type|title }}</p>
                    <p>Order Cost: {{ order_data.cost|title }}</p>
                    <p>Delivery Date: {{ order_data.delivery_date }}</p>
                    <p>Delivered: {{ order_data.delivered }}</p>
                    <h3>PDF Files</h3>
                    {% if order_data.pdf_files %}
                        <ul>
                            {% for file in order_data.pdf_files %}
                                <li>{{ file.name }} - <a href="{{ file.url }}">Download</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No PDF files found for this order.</p>
                    {% endif %}
                </div>
        </div>
        {%endif%}
        {% endfor %}
        
        
        {% endif %}
    </div>
    <div class="back-button">
        <a href="/home/">Back to Main Page</a>
    </div>
</body>
</html> {% endcomment %}